<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" [(ngModel)]="email" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input name="password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item> -->
  <div>
    <ion-button (click)="login(1)">Log In 1</ion-button>
    <ion-button (click)="login(2)">Log In 2</ion-button>
    <ion-button (click)="login(3)">Log In 3</ion-button>
  </div>

  <ion-button (click)="logout()">Log Out</ion-button>
</ion-content>